.hero {
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/main/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container {
    padding: 200px 0;
}

.hero-title-box {
    display: block;
    width: 696px;
    margin: 0 auto;
}

.hero-title {
    display: block;
    min-width: 696px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-title-color);
}

.btn {
    display: block;
    min-width: 200px;
    min-height: 50px;
    margin: 0 auto;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    text-align: center;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
}
